/* var scale = $('body').width() / 640;
$('html').css('font-size', 100 * scale + 'px'); */


/* 上面代码为rem布局 */


/* js代码执行 */


/* 获取浏览器分辨率 与 设计稿的宽度 的比例 */


/* 然后设置整个html字体大小=100*比例 */


/* 重点来了********************************* */


/* vm vh */


/* 这是一个css尺寸单位 */


/* “视区”所指为浏览器内部的可视区域大小 */


/* vw, vh是视区相关单位 */


/* 定位position */


/* relative */


/* 对象遵循常规流，并且参照自身在常规流中的位置通过top，right
，bottom，left这4个定位偏移属性进行偏移时不会影响常规流中的任何元素。 */


/* absolute */


/* 对象脱离常规流，此时偏移属性参照的是【离自身最近】的【定位祖先元素】，
如果没有定位的祖先元素，则一直回溯到body元素。盒子的偏移位置不影
响常规流中的任何元素，其margin不与其他任何margin折叠。 */


/* fixed */


/* 与absolute一致，但偏移定位是【以窗口】为参考。
当【出现滚动条时】，对象不会随着滚动。 */


/* center */


/* 与absolute一致，但偏移定位是【以定位祖先元素的中心点】为参考。
盒子在其包含容器垂直水平居中。（CSS3） */


/* 布局display */


/*  none
    inline:内联元素
    block：块元素
    inline-block：内联块元素

    CSS3:
        flex:弹性伸缩盒(最新)
        inline-flex:内联块级弹性伸缩盒(最新)
    
*/